{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KT</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>
    <nav data-sticky-container>
      <div class="title-bar sticky" data-responsive-toggle="portfolio-menu" data-hide-for="medium" data-sticky data-options="marginTop: 0;">
        <button class="menu-icon" type="button" data-toggle></button>
      </div>

      <div class="top-bar sticky" id="portfolio-menu" data-sticky data-options="marginTop: 0;">
        <div class="top-bar-left">
          <ul class="menu">
            <a href="index.html"><li class="menu-text">KT</li></a>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="medium-horizontal vertical dropdown menu" data-responsive-menu="accordion medium-dropdown">
            <li><a href="index.html">About</a></li>
            <li><a href="index.html#projects">Projects</a></li>
            <li><a href="experience.html">Experience</a></li>
            <li><a href="photography.html">Photography</a></li>
          </ul>
        </div>
      </div>
    </nav>
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}


    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>